<form id="testResults" action="/tests" method="post">
  <input type="hidden" name="cafe[google_id]" value="" />
  <input type="hidden" name="cafe[name]" value="" />
  <input type="hidden" name="cafe[latitude]" value="" />
  <input type="hidden" name="cafe[longitude]" value="" />
  <input type="hidden" name="test_result[upload_mbps]" value="" />
  <input type="hidden" name="test_result[download_mbps]" value="" />
  <input type="hidden" name="test_result[loss_rate]" value="" />
  <input type="hidden" name="test_result[ssid]" value="" />
  <input type="submit" value="Upload" />
</form>

<div id="ndt-dialog">
  <applet name="NDT" code=Tcpbw100.class codebase="http://ndt.iupui.donar.measurement-lab.org:7123" ARCHIVE="Tcpbw100.jar" width=400 height=400></applet>
</div>


<div id="ssid-dialog" title="Network name (SSID)">
  Enter network name:
  <input type="text" name="ssid" />
</div>

<h2>Nearby places</h2>
<div id="main" class="box">
  <div id="nearby-map"></div>
  <ul id="cafeList"></ul>
  <div style="clear: both;"></div>
</div>

<h2>Fastest cafes</h2>
<div id="ranking" class="box">
  <table>
    <thead><tr>
      <td>Rank</td><td>Name</td><td>Upload<br/>Mb/s (max)</td><td>Download<br/>Mb/s (max)</td>
    </tr></thead>
  <% @ranked_cafes.each_with_index do |cafe, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to cafe.name, cafe %></td>
      <td><%= number_with_precision(cafe.metrics(:upload_mbps).max, :precision => 1) %></td>
      <td><%= number_with_precision(cafe.metrics(:download_mbps).max, :precision => 1) %></td>
    </tr>
  <% end %>
  </table>
  <div id='fastest-map'></div>
  <div style="clear: both;"></div>
</div>


<script type="text/javascript">

var nearby_map;
var infowindow;
var placesService;
var markersArray = [];


function init_nearby_map(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  var location = new google.maps.LatLng(latitude, longitude);
  
  nearby_map = new google.maps.Map(document.getElementById("nearby-map"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: location,
    zoom: 16,
  });
  infowindow = new google.maps.InfoWindow();
  placesService = new google.maps.places.PlacesService(nearby_map);

  // Set event listeners to update the list of places when the map is moved.
  google.maps.event.addListener(nearby_map, "dragend", retrievePlaces);
  google.maps.event.addListener(nearby_map, "zoom_changed", retrievePlaces);
  
  // This listener is needed to get the initial list, but immediately removed
  // to prevent flicker of markers because it's redundant with the other event
  // listeners (above).
  var handle = google.maps.event.addListener(nearby_map, "tilesloaded", function() {
    google.maps.event.removeListener(handle);
    retrievePlaces();
  });
}

function init_fastest_map() {
  var location = new google.maps.LatLng(<%= @fastest_center_latitude %>, <%= @fastest_center_longitude %>);
  fastest_map = new google.maps.Map(document.getElementById("fastest-map"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: location,
    zoom: 12,
  });

  <% @ranked_cafes.each_with_index.map do |cafe, index| %>
    <% rank = index + 1 %>
    new google.maps.Marker({
      position: new google.maps.LatLng(<%= cafe.latitude %>, <%= cafe.longitude %>),
      map: fastest_map,
      icon: new google.maps.MarkerImage(
        "<%= asset_path "mapicons/number_#{rank}.png" %>",
        new google.maps.Size(32, 37),
        new google.maps.Point(0,0),
        new google.maps.Point(0, 32)
        ),
      zIndex: <%= @ranked_cafes.length - rank %>,
    });
  <% end %>

}

navigator.geolocation.getCurrentPosition(init_nearby_map);
init_fastest_map();

$("#ssid-dialog").dialog({
  modal: true,
  autoOpen: false,
  title: "Enter SSID (network name)",
});

$("#ndt-dialog").dialog({
  modal: true,
  autoOpen: false,
  width: 440,
  title: "Running test...",
  beforeClose: function() { return false; },
});

</script>
