<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>BandwidthBuzz</title> 
	<link rel="stylesheet" href="//code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="//code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true" %>
</head> 

<body> 

<div data-role="page" data-fullscreen="true" id="discover">

  <div data-role="header">
    <h1>wifiben.ch</h1>
    <a href="#benchmark" data-icon="check" data-rel="dialog" class="ui-btn-right">Benchmark</a>
  </div><!-- /header -->

  <div data-role="content">
    <div class="content-primary">
      <div id="map" style="width: 100%; height: 200px;"></div>
      <script>
function init_fastest_map() {
  var location = new google.maps.LatLng(<%= @fastest_center_latitude %>, <%= @fastest_center_longitude %>);
  fastest_map = new google.maps.Map(document.getElementById("map"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: location,
    zoom: 12,
  });

  <% @ranked_cafes.each_with_index.map do |cafe, index| %>
    <% rank = index + 1 %>
    new google.maps.Marker({
      position: new google.maps.LatLng(<%= cafe.latitude %>, <%= cafe.longitude %>),
      map: fastest_map,
      icon: new google.maps.MarkerImage(
        "<%= asset_path "mapicons/number_#{rank}.png" %>",
        new google.maps.Size(32, 37),
        new google.maps.Point(0,0),
        new google.maps.Point(0, 32)
        ),
      zIndex: <%= @ranked_cafes.length - rank %>,
    });
  <% end %>

}

init_fastest_map();
      </script>
			<ol data-role="listview" data-inset="true" style="height: 100%; overflow: scroll;">
      <% @ranked_cafes.each_with_index do |cafe, index| %>
        <li>
          <%= cafe.name %>
          <p class="ui-li-aside"><%= number_with_precision(cafe.metrics(:download_mbps).max, :precision => 1) %></p>
        </li>
      <% end %>
      </ol>
    </div>
  </div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="benchmark">

  <script>
    $( document ).delegate("#benchmark", "pagecreate", function() {
      /* Times the download of a file with given URL and byte size.
       * Calls callback with the megabits/second
       */
      function timeImageLoad(url, bytes, callback) {
        var start = new Date().getTime();
        var tester = $('<img src="' + url + '?' + start + '"/>');
        tester.load(function(ev) {
          var millis = ev.timeStamp - start;
          var megabytes = bytes / 1000000;
          var megabits = megabytes * 8;
          var seconds = millis / 1000;
          callback(megabits/seconds)
        });
        tester.appendTo($('#testers'));
      }

      var url = window.location.protocol + '//d28bl1s6lzxdrm.cloudfront.net/image.1080056B.bmp';
      var bytes = 1080056;
      timeImageLoad(url, bytes, function(mbps) {
        $('#mbps>input').val(mbps);
        navigator.geolocation.getCurrentPosition(located);
      });

      function located(position) {
        $('#latitude').val(position.coords.latitude);
        $('#longitude').val(position.coords.longitude);

        var center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

        var map = new google.maps.Map(document.getElementById('bench-map'), {
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: center,
          zoom: 18,
          disableDefaultUI: true,
          disableDoubleClickZoom: true,
          draggable: false,
        });

        var options = {
          bounds: new google.maps.Circle({ center: center, radius: position.coords.accuracy }).getBounds(),
          types: ['establishment']
        }
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('name'), options);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          var place = autocomplete.getPlace();

          $('#name').val(place.name);
          $('#google_id').val(place.id);

          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }
          var image = new google.maps.MarkerImage(
              place.icon, new google.maps.Size(71, 71),
              new google.maps.Point(0, 0), new google.maps.Point(17, 34),
              new google.maps.Size(35, 35));
          marker.setIcon(image);
          marker.setPosition(place.geometry.location);
        });

      }
    });
  </script>

  <div data-role="header">
    <h1>wifiben.ch</h1>
  </div><!-- /header -->

  <div data-role="content">	
    <div class="content-primary">
      <form id="testResults" action="/tests" method="POST">
        <ul data-role="listview">
          <li data-role="fieldcontain" id="mbps">
            <label for="test_result[download_mbps]">Download Mbps</label>
            <input type="text" name="test_result[download_mbps]" value="Measuring..." readonly />
          </li>
          <li data-role="fieldcontain">
            <label for="cafe[latitude]">Latitude</label>
            <input type="text" name="cafe[latitude]" id="latitude" value="Locating..." readonly />
          </li>
          <li data-role="fieldcontain">
            <label for="cafe[longitude]">Longitude</label>
            <input type="text" name="cafe[longitude]" id="longitude" value="" readonly />
          </li>
          <li data-role="fieldcontain">
            <input type="hidden" name="cafe[google_id]" id="google_id" value="" />
            <label for="cafe[name]">Name</label>
            <input type="search" name="cafe[name]" id="name" value="" />
          </li>
          <li data-role="fieldcontain" id="bench-map" style="height: 150px;">
          </li>
          <li data-role="fieldcontain">
            <label for="test_result[ssid]">SSID</label>
            <input type="text" name="test_result[ssid]" value="" />
          </li>
          <li data-role="fieldcontain">
            <button type="submit">Report</button>
          </li>
        </ul>
      </form>
    </div>
  </div><!-- /content -->

</div><!-- /page -->



</body>
</html>

