<h1><%= @cafe.name %></h1>

<div id="map"></div>
<script type="text/javascript">

$(document).ready(function() {
  initMap();
});

function initMap() {
  var latitude = <%= @cafe.latitude %>;
  var longitude = <%= @cafe.longitude %>;
  var location = new google.maps.LatLng(latitude, longitude);

  map = new google.maps.Map(document.getElementById('map'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: location,
    zoom: 16,
    draggable: false,
  });

  var marker = new google.maps.Marker({
    map: map,
    position: location
  });
}

</script>

<table>
  <thead>
    <tr>
      <td>Recorded</td>
      <td>Upload Mbps</td>
      <td>Download Mbps</td>
      <td>Packet loss %</td>
    </tr>
  </thead>
  <% @cafe.test_results.find(:all, :order => 'created_at desc').each do |result| %>
  <tr>
    <td><%= time_ago_in_words result.created_at %> ago</td>
    <td><%= number_with_precision result.upload_mbps, :precision => 2 %></td>
    <td><%= number_with_precision result.download_mbps, :precision => 2 %></td>
    <td><%= number_to_percentage result.loss_rate %></td>
  </tr>
  <% end %>
</table>