<div data-role="page" data-fullscreen="true" id="discover">

  <div data-role="header">
    <a href="/" data-icon="home">Home</a>
    <h2><%= @place.name %></h2>
  </div><!-- /header -->

  <div data-role="content">
    <div class="content-primary">
      <div id="map" style="width: 100%; height: 150px;"></div>

      <script type="text/javascript">

      $(document).ready(function() {
        initMap();
      });

      function initMap() {
        var latitude = <%= @place.latitude %>;
        var longitude = <%= @place.longitude %>;
        var location = new google.maps.LatLng(latitude, longitude);

        map = new google.maps.Map(document.getElementById("map"), {
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: location,
          zoom: 16,
          draggable: false,
        });

        var marker = new google.maps.Marker({
          map: map,
          position: location
        });
      }

      </script>

			<ul data-role="listview" data-inset="true">
        <% @place.benches.find(:all, :order => "created_at desc").each do |result| %>
        <li>
          <%= time_ago_in_words result.created_at %> ago
          <p class="ui-li-aside"><%= number_with_precision result.download_mbps, :precision => 2 %> Mbits/s</p>
        </li>
        <% end %>
      </ul>

    </div>
  </div><!-- /content -->

</div><!-- /page -->
