<!DOCTYPE html>
<html>
<head>
  <title>BandwidthBuzz</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/ui-lightness/jquery-ui.css" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27447492-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<%= link_to image_tag("logo.png", :width => 400, :id => "logo"), root_url %>

<div id="container">
<%= yield %>
</div>

<div id="footer">
Icons from <%= link_to 'http://mapicons.nicolasmollet.com/', 'http://mapicons.nicolasmollet.com/' %>.
</div>

</body>
</html>
